<div class="divBackground">
  <div class="loginblock">

    <!-- =========================
        左半邊：歡迎區
    ========================== -->
    <div class="login-left">

      <h1>Welcome</h1>

      <p>
        歡迎回來！
      </p>

      <p class="description">
        登入你的帳號，<br>
        開始使用我們的服務。
      </p>

    </div>


    <!-- =========================
        右半邊：登入區
    ========================== -->
    <div class="login-right">

      <h2>登入</h2>

      <!-- 帳號 -->
      <form (ngSubmit)="Login()">
        <div class="input-group">
          <label for="account">帳號</label>
          <input
            id="account"
            name="account"
            type="text"
            placeholder="請輸入帳號"
            [(ngModel)]="account"
          >
        </div>


        <!-- 密碼 -->
        <div class="input-group">
          <label for="password">密碼</label>
          <div class="password-group">
            <input id="password"
                  name="password"
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="請輸入密碼"
                  [(ngModel)]="password"
                  >

                <button
                  type="button"
                  class="eye-btn"
                  (click)="showPassword = !showPassword"
                >
                  {{ showPassword ? '👁' : '👁‍🗨' }}
                </button>
          </div>
        </div>



      <!-- 記住我 / 忘記密碼 -->
      <div class="login-options">

        <label>
          <input type="checkbox">
          記住我
        </label>

        <a href="#">
          忘記密碼？
        </a>

      </div>


      <!-- 登入按鈕 -->
      <button type="submit" class="login-btn">
        登入
      </button>
      </form>

      <!-- 註冊 -->
      <p class="register-text">
        還沒有帳號？
        <a href="#">立即註冊</a>
      </p>

    </div>

  </div>
</div>
